{% extends "base.html" %} {% load static %}{% block title %}About Us{% endblock %}

{% block content %}
<center>
 <img src="{% static '1000_F_534479351_1nKTjxGDQ5k5fxyKhHkIQVsf3FG4e5Wh.jpg' %}" height="50%" width="50%"><font color="blue" size="5"></h1>
 <h1><font size="15" color="blue">MyTeam</font><br>
<font color="orange" size="5">MyTeam</font><font color="white" size="5"> Driven by passion, we are a global leader in digital interactive entertainment.<br>
    Headquartered in somewhere in the world, we develop and deliver games, content, and online services for Internet-connected consoles, mobile devices, and personal computers. Through our cutting-edge games, innovative services, and powerful technologies, we bring worlds with infinite possibilities to nearly 999 million active players and fans around the globe, and are recognized for a portfolio of critically acclaimed, high-quality brands.</font>
 </h1>
</center>
{% endblock %}