{% extends "base.html" %} {% load static %}{% block title %}Home Page {% endblock %}

{% block content %}
<center>
 <img src="{% static 'pngegg.png' %}" height="25%" width="25%">
 <h1><font size="15" color="blue">MyGame</font><br>
<font color="orange" size="5">MyGame</font><font color="white" size="5"> is an upcoming game that is currently in development for everything<br>
It will feature tons of content and promises to be an exciting experience for those who will play it</font>
 </h1>
</center>
{% endblock %}